/* start reset */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt, u, ul, var, input {margin:0;padding:0;}
blockquote, q {quotes:none}
table, table td {padding:0;}
a{ cursor: pointer; text-decoration: none; }
img{ border: none;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
html {margin:0;padding:0;border:0;}
/* end reset */

/* common styles */

.b{
	font-weight: bold;
}

.cb{
	clear: both;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.fn{
	float: none;
}

.bordered{
	border: 1px solid black;
}

/* end common styles */



/* site styles */

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed',sans-serif;
    text-shadow: 1px 1px 0 #fff;
    margin: -0.4em 0em;
}

h1{
    font-weight: bold;
    font-size: 1.5em;
    color: #C3BDB6;
}

h2{
    font-weight: bold;
    font-size: 1.3em;
    color: #C3BDB6;
}

h3{
    font-size: 1.3em;
    margin-bottom: 10px;
}

h4{
    font-size: 1.2em;
}

body{
    font-size: 1.1em;
    font-family: "Arial";
    background: #fff url('../images/common/background.gif') center center repeat fixed;
}

ul{
    list-style: none;
}

.clearfix {
    float: none;
    clear: both;
}

.dn{
    display: none;
}

.btn{
    color: white;
    background-color: #200D06;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #984406;
}

.last-child-right{
    margin-right: 0px !important;
}

#page{
    position: relative;
    margin: 0px auto;
    width: 100%;
    min-height: 500px;
    box-shadow: 0 0 5px #dfdfde;
}


/* ######### header styles ########## */

#header{
    padding: 20px 0px;
    width: 1100px;
    margin: 0px auto;
}

#header-contacts-list{
    margin-right: 100px;
    width: 400px;
}

#header-contacts-list li{
    font-size: 1.2em;
    line-height: 1.6em;
    color: #984406;
    float: left;
    width: 200px;
}

#search-field{
    height: 1.5em;
    padding: 0.2em;
    border: 1px solid gray;
    float: left;
}

#search-button{
    height: 2em;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
}

#shopping-cart-block{
    position: relative;
}

#shopping-cart-preview{
    width: 230px;
    /*margin-top: 40px;*/
    max-width: 237px;
    /*background-image: url('../images/site/cart-bg.gif');*/
    /*padding: 0px 20px;*/
}

#shopping-cart-preview a{
    color: white;
    font-size: 1em;
}

#shopping-cart-icon{
    position: absolute;
    width: 60px;
    left: -35px;
    top: -30px;
    z-index: 100;
}

#shopping-cart-button-expand{
    position: absolute;
    top: 20px;
}

/* ######### end header styles ########## */


/* ######### main menu styles ##########*/

#main-menu{
    min-width: 1100px;
    background-color: #200D06;
    border-top: 4px solid #984406;
    height: 43px;
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 9999999;
}

#fix-horizontal-scroll{
    position: absolute;
    width: 100%;
}

.fixed-menu{
    position: fixed;
    top: 0;
    width: 100%;
}

#main-menu ul{
    width: 1100px;
    margin: 0px auto;
}

#main-menu li{
    float: left;
}

#main-menu  a.menu-element{
    display: block;
    padding: 0 30px;
    line-height: 43px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#main-menu a.menu-element:hover, #main-menu li.active a{
    color: #DFA173;
    background-color: #31160D;
}

/* ######### end main menu styles ##########*/

/* ######### breadcrumbs styles ##########*/

#breadcrumbs{
    width: 1100px;
    margin: 24px auto;
    padding: 20px 0px;
}

.breadcrumbs a{
    color: #2D140D;
    font-size: 1em;
}

.breadcrumbs a:hover{
    color: #984406;
}

.breadcrumbs span{
    color: #a27658;
    font-size: 0.9em;
}

/* ######### end breadcrumbs styles ##########*/

/* ######### content block styles ##########*/

#content-block{
    width: 1100px;
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
    min-height: 400px;
}

/* ######### end content block styles ##########*/


/* ######### categories styles ##########*/

#categories{
    width: 200px;
    min-height: 100px;
    padding: 20px;
    background-color: white;
}

.block-title{
    color: #C3BDB6;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
}

#categories-list{
    margin-top: 20px;
}

#categories-list ul{
    margin-left: 20px;
}

#categories-list ul a{
    border: none;
    font-weight: normal;
}

#categories-list a{
    font-size: 0.9em;
    display: block;
    color: #2D140D;
    padding: 5px 0px;
    border-bottom: 1px solid #C3BDB6;
    font-weight: bold;

}

#categories-list a.branch{
    background: url('../images/site/categ_desc.gif') no-repeat right center;
}

#categories-list a.branch.open{
    color: #984406;
    background: url('../images/site/categ_asc.gif') no-repeat right center;
    font-weight: bold;
}

#categories-list a.active{
    color: #984406;
    font-weight: bold;
    margin-left: 10px;
}

#categories-list a.active:hover{
    color: #2D140D;
}

#categories-list a:hover{
    color: #984406;
}

/* ######### end categories styles ##########*/

/* ######### content styles ##########*/

#main-content{
    margin-left: 40px;
    width: 820px;
}

/* ######### end content styles ##########*/

/* ######### catalog styles ##########*/

#catalog-tools{
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ececec;
}

#pagination-tools{
    background-color: white;
    padding: 10px 10px 10px 15px;
    border: 1px solid #ececec;
}

#visible-items{
    color: #984406;
    font-size: 0.9em;
}

.pagination{
    float: right;
    margin-left: 10px;
}

.pagination li{
    float: left;
}

.pagination li a{
    font-size: 0.9em;
    color: #2D140D;
    margin: 0 2px;
}

.pagination li.first, .pagination li.last{
    font-weight: bold;
    margin: 0 7px;
    font-size: 1em;
}

.pagination li.selected a{
    font-weight: bold;
    font-size: 1.2em;
}

.pagination li a:hover{
    color: #984406;
}

#sorting-tools a{
    font-size: 0.9em;
    color: #2D140D;
}

#sorting-tools a:hover{
    color: #984406;
}

#display-tools a{
    margin-right: 5px;
}

a.list-tool{
    display: block;
    float: left;
    width: 25px;
    height: 24px;
    background: url('../images/site/grid-list.png') no-repeat right -24px;
    margin-left: 5px;
}

a.list-tool:hover{
    background: url('../images/site/grid-list.png') no-repeat right top;
}

a.list-tool.active{
    cursor: default;
    background: url('../images/site/grid-list.png') no-repeat right top;
}

a.grid-tool{
    display: block;
    float: left;
    width: 25px;
    height: 24px;
    background: url('../images/site/grid-list.png') no-repeat left -24px;
}

a.grid-tool:hover{
    background: url('../images/site/grid-list.png') no-repeat left top;
}

a.grid-tool.active{
    cursor: default;
    background: url('../images/site/grid-list.png') no-repeat left top;
}

.items-list-grid{
    margin-top: 20px;
    overflow: hidden;
}

.items-list-grid li{
    float: left;
    padding: 15px;
    width: 225px;
    margin-right: 25px;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}

.item-list-image{
    width: 100%;
}

.item-list-price{
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #984406;
    margin-bottom: 10px;
}

a.item-list-title{
    color: #2D140D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
}

a.item-list-title:hover{
    color: #984406;
}

.item-list-add-cart{
    border: none;
    padding: 10px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}


.item-list-description{
    text-align: center;
}


/* ######### end catalog styles ##########*/

/* ######### item styles ##########*/

#item-page{
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ededed;
}

#item-image-box{
    margin-right: 20px;
    width: 300px;
}

#item-image-box img{
    border: 1px solid #ededed;
}

#item-description-box{
    width: 415px;
}

#item-price{
    font-family: 'Open Sans Condensed',sans-serif;
    color: #984406;
    font-weight: bold;
    font-size: 1.7em;
}

#item-add-cart{
    font-size: 1.4em;
    padding: 5px 10px;
    border: none;
}

#item-info-box{
    margin-top: 20px;
}

#item-title{
    font-family: 'Open Sans Condensed',sans-serif;
    color: #984406;
    font-weight: bold;
    font-size: 1.4em;
}

#item-description{
    margin-top: 10px;
    font-family: 'Arial';
    color: #7f7f7f;
    font-size: 0.9em;
}

#item-reviews-block{
    margin-top: 10px;
}

#item-relation-items{
    padding: 20px 40px;
    background-color: #fff;
    margin-top: 20px;
}

#item-relation-items-list{
    margin-top: 20px;
}

#item-relation-items-list li{
    text-align: center;
    border: 1px solid #ededed;
    padding: 10px;
    width: 200px;
    float: left;
    margin: 0 5px;
}

/* ######### end item styles ##########*/

/* ######### shopping cart styles ##########*/

#cart-items-list{
    display: none;
    background-color: white;
    width: 230px;
    position: absolute;
    z-index: 50;
    opacity: 1;
    font-family: 'Open Sans Condensed',sans-serif;
}

#cart-items-list tfoot{
    background-color: #200D06;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

#cart-items-list tfoot a{
    display: block;
    background-color: #200D06;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

a#shopping-cart-link-expand:hover{
    color: #DFA173;
}

#cart-items-list tfoot a:hover{
    background-color: #31160D;
    color: #DFA173;
}

#cart-items-list td{
    border: 1px solid #ededed;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.cart-preview-title{
    width: 150px;
}

.cart-preview-count{
    max-width: 60px;
}

.cart-preview-delete{
    width: 20px;
}

.minus-item{
    color: red;
    font-weight: bold;
}

.plus-item{
    color: green;
    font-weight: bold;
}

.page-box{
    background-color: white;
    margin: 20px 0;
    padding: 20px;
}

#shopping-cart-page, #report-page, #contacts, #index, #feedback-page{
    background-color: white;
    margin: 20px 0;
    padding: 20px;
}

.empty-cart{
    color: #7f7f7f;
}

.empty-cart a{
    color: #2D140D;
}

.empty-cart a:hover{
    color: #984406;
}

#shopping-cart-table, #cart-items-list{
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
}

#shopping-cart-table thead{
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
}

#shopping-cart-table tfoot td{
    border: none !important;
    padding: 20px 0px;
}

#shopping-cart-table tfoot{
    padding: 10px 0px;
    background: url('../images/site/row-last.gif') left top repeat-x;
}

#cart-result-sum-label{
    font-family: 'Open Sans Condensed',sans-serif;
    color: #7f7f7f;
    font-weight: bold;
    font-size: 1.4em;
}

#cart-result-sum-number{
    font-family: 'Open Sans Condensed',sans-serif;
    color: #984406;
    font-weight: bold;
    font-size: 1.4em;
}

#shopping-cart-table td, #shopping-cart-table th{
    border: 1px solid #ededed;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.cart-price{
    color: #984406;
    font-size: 0.9em;
    font-weight: bold;
}

.cart-title-preview{
    font-size: 0.8em;
    font-weight: bold;
}

.cart-title, .cart-title-preview{
    color: #2D140D;
    font-family: 'Open Sans Condensed',sans-serif;
}

.cart-title:hover, .cart-title-preview:hover{
    color: #984406;
}

.cart-delete{
    display: block;
    width: 36px;
    height: 38px;
    background: url('../images/site/cart-delete.png') 0 0 no-repeat;
}

.cart-delete:hover{
    background-position: 0 -67px!important;
}

.cart-item-number{
    width: 50px;
    text-align: center;
}

.cart-preview-number{
    width: 30px;
    text-align: center;
}

a#empty-cart{
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #2D140D;
    display: block;
    background: url('../images/site/btn-empty.png') 60px 4px no-repeat;
}

a#empty-cart:hover{
    color: #984406;
}

#checkout-info, #feedback-page{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    color: #7f7f7f;
}

.form-row{
    margin-bottom: 15px;
}

input.error {
    border: 2px solid red !important;
}

div.errorMessage{
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

div.headerErrorMessage{
    color: red;
    font-size: 1em;
}

div.headerSuccessMessage{
    color: green;
    font-size: 1em;
}

label.block{
    display: block;
}

/* ######### end shopping cart styles ##########*/

/* ######### footer styles ##########*/

#footer{
    min-width: 1100px;
    background: #2D140D;
    padding: 20px 0px;
}

#footer-content-wrapper{
    width: 1100px;
    margin: 0px auto;
}

/* ######### end footer styles ##########*/

/* ######### start contact styles ##########*/

.contacts-element{
    margin-bottom: 20px;
}

/* ######### end contact styles ##########*/

/* ######### start report styles ##########*/

#order-report-info{
    margin-top: 30px;
}

table#report-table{
    margin-top: 20px;
    border: none;
    width: 100%;
    font-size: 0.8em;
}

.report-total-row td{
    border-top: 1px solid black;
    padding: 10px 0;
}

.report-item-title, .report-item-space, .report-item-price{
    padding: 8px 0;
}

.report-item-space{
    width: 40px;
}

.report-item-price{
    width: 10px;
    white-space: nowrap;
    text-align: left;
}

.report-total-text{
    text-align: right;
    font-weight: bold;
}

.report-total-price{
    text-align: left;
    white-space: nowrap;
}

.report-value{
    padding-left: 20px;
    font-size: 0.9em;
    font-weight: bold;
}

/* ######### end report styles ##########*/

/* ######### start notification styles ##########*/

#add-to-cart-notify{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px 50px;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #DFA173;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

/* ######### end notification styles ##########*/

/* ######### start widgets styles ##########*/

.sh_btn, .sh_header{
    background-color: #200D06 !important;
}

/* ######### end widgets styles ##########*/

/* ######### start articles styles ##########*/

li.article{
    display: block;
    height: 300px;
}

.article-title{
    display: block;
    color: white;
    background-color: #200D06;
    padding: 10px 0px 10px 50px;
    font-size: 0.8em;
}

.article-date{
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 20px;
}

.article-title:hover{
    color: #DFA173;
}

.article-body{
    margin-top: 10px;
    height: 180px;
    position: relative;
    padding-left: 20px;
}

.article-image{
    margin-right: 10px;
}

.article-description{
    margin-bottom: 10px;
    font-size: 0.9em;
}

.read-article{
    padding: 5px 15px;
    position: absolute;
    bottom: 0px;
}

#articles-list{
    background-color: white;
}

/* ######### end articles styles ##########*/

/* ######### start search styles ##########*/

.result-title{
    margin: 20px 0px;
    font-size: 1.2em;
}

/* ######### end search styles ##########*/

/* ######### start common styles ##########*/
.input{
    height: 1.5em;
}

.input-radio{
    height: 1em;
}

.input-text, .textarea{
    padding: 0.2em;
    border: 1px solid gray;
    width: 200px;
}

.submit{
    font-size: 1.1em;
    border: none;
    padding: 0 10px;
}

/* ######### end common styles ##########*/

/* ######### start main styles ##########*/

.index-items{
    background-color: #200D06;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    padding: 10px 0px;
    margin: 20px;
    width: 100%;
}

/* ######### end main styles ##########*/

/* end site styles */